body {
    font-family: Lato;
    color: white;
    margin: 0;
}

.content-container {
    padding-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-container {
    background-color: rgba(10, 36, 99, 1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    width: 500px;
    height: fit-content;
    margin-top: 30px;
    margin-left: -20px;
}

.about-me {
    margin: 30px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(120deg, rgba(10, 36, 99, 1), rgba(16, 58, 143, 1) 90%);
}

.introduction-container {
    display: flex;
    background-image: linear-gradient(120deg, rgba(10, 36, 99, 0.5), rgba(57, 100, 201, 0.5) 50%), url("/images/picture-of-my-face.jpg");
    background-size: cover;
    height: 100vh;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.introduction-text {
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: column;
}

.introduction-text > h1 {
    margin: 5px;
    font-size: 3em;
}

.introduction-text > h2 {
    margin: 5px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 97vw;
    height: 140px;
    flex-grow: 1;
    z-index: 100;
    position: absolute;
}

div.navigation a {
    cursor: pointer;
    text-decoration: none;
    color: white;

}

.nav-options {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
}

.nav-link {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 40px;
    transition: font-size 0.3s;
}

.nav-link:hover {
    font-size: 2em;
}

.nav-link.active {
    font-size: 2em;
}

.logo {
    margin: 20px;

}

.logo h1 {
    margin: 5px;
    font-weight: 300;
}

.logo h3 {
    font-weight: 200;
    margin: 5px;
}