<div class="navigation">
    <a href="{{ .Site.BaseURL }}">
        <div class="logo">
            <h1>DeinDev</h1>
            <h3>a completely deranged fullstack web developer</h3>
        </div>
    </a>

    <nav class="nav-options">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <a class='nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}' href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    </nav>
</div>